{% extends 'index.html' %} {% block title %} Filmy | {{ block.super }} {% endblock %} {% block content %}
<h1>Herci</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
    {% for a in actors %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ a.name }}</h5>
                <p>{% if a.birth_year %} {{ a.birth_year }} {% endif %}</p>
                <a href="/actor/{{a.id}}" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
