{% extends 'index.html' %} {% block title %} Režiséři | {{ block.super }} {% endblock %} {% block content %}
<h1>{{ title|default:"Režiséři" }}</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
    {% for d in directors %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ d.name }}</h5>
                <p>{% if d.birth_year %} {{ d.birth_year }} {% endif %}</p>
                <a href="/director/{{d.id}}" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
