{% extends 'index.html' %} {% block title %} Filmy | {{ block.super }} {% endblock %} {% block content %}
<h1>{{movie.name}} ({{movie.year}})</h1>
<div>{{movie.description}}</div>
<img src="{{movie.image_url}}" alt="Movie img" />

<div class="comments mt-5">
    <h3>Komentáře</h3>
    {% for comment in comments %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h5>{{comment.author}}</h5>
            </div>
            <div class="col">
                <b> {% if not comment.rating %} <i>Bez hodnocení</i> {% else %} {{comment.rating}}/100 {% endif %} </b>
            </div>
            <div class="col-2">
                <p>{{comment.created_at|date:"j. n. o, G:i:s"}}</p>
            </div>
        </div>
        <div class="row">
            <p>{{comment.text}}</p>
        </div>
        <hr class="row" />
    </div>
    {% endfor %}
</div>

<form action="" method="post" class="mt-5">
    {{ form }}
    <button type="submit" class="mt-2">Odeslat</button>
    {% csrf_token %}
</form>
{% endblock content %}
